.splide {
    padding: 0 !important;
}
.splide__pagination__page {
    background: white !important;
    border: 0;
    border-radius: 50% !important;
    display: inline-block;
    height: 10px !important;
    margin: 3px;
    padding: 0;
    position: relative;
    transition: background-color .2s linear, transform .2s linear;
    width: 10px !important;
}
.splide__pagination__page.is-active {
    background: #f35525 !important;
    z-index: 1;
}
.splide__pagination {
    position: absolute !important;
    right: 60vw !important;
    bottom: 10vh !important;
    margin: 0;
    pointer-events: none;
}
#splide01-slide01 {
    background-image:
    linear-gradient(rgba(15, 16, 16, 0.39),
			rgba(8, 10, 11, 0.087)),
    url(../../assets/istockphoto-1447708518-2048x2048.jpg);
    max-width: 100vw;
     height: calc(100vh - 60.8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#splide01-slide02 {
    background-image: 
    linear-gradient(rgba(15, 16, 16, 0.39),
			rgba(8, 10, 11, 0.087)),
    url(../../assets/istockphoto-1457567236-2048x2048.webp);
    max-width: 100vw;
     height: calc(100vh - 60.8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#splide01-slide03 {
    background-image:
    linear-gradient(rgba(15, 16, 16, 0.39),
			rgba(8, 10, 11, 0.087)),
    url(../../assets/istockphoto-1803195534-1024x1024.jpg);
    max-width: 100vw;
     height: calc(100vh - 60.8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#splide01-slide04 {
    background-image: 
    linear-gradient(rgba(15, 16, 16, 0.39),
			rgba(8, 10, 11, 0.087)),
    url(../../assets/istockphoto-972700890-2048x2048.jpg);
    max-width: 100vw;
    height: calc(100vh - 60.8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.splide__arrow {
    align-items: center;
    background: white !important;
    border: 0;
    border-radius: 50% !important;
    cursor: pointer;
    display: flex;
    height: 2.5em;
    justify-content: center;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2.5em;
    z-index: 1;
}
.splide__arrow svg {
    fill: #f35525 !important;
    height: 2.5em;
    transition: fill .2s linear;
    width: 2.5em; 
    padding: 5px;
}

.OF-heroSlider {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 0px;
}
.OFS {
    background-color: #fff;
    color: #1e1e1e;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 6px 15px;
    display: inline-block;
    
}

.OFS em {
    font-style: normal;
    color: #f35525;
}
@media screen and (max-width:400px) {
    .splide__arrow {
        height: 1.8em !important; 
        width: 1.8em !important;
        
    }
}

